<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by J.S. He has been falsely quoting historical figures for over 20 years. With Splurty, you can, too. 
  </p>

</div>

<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
  <%= image_tag 'abe.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">J.S.</h2>
  <br />
  <p>
    This photograph of J.S. has been independently verified by multiple government agencies for accuracy.
  </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
